button, input[type="text"], input[type="password"] {
    border: 1px solid black;
    border-radius: 2px;
    padding: 0.3em;
    margin: 2px;
    background-color: white;
}

button:focus, input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #9BF;
}

.error {
    color: red;
    border: 2px solid red;
    padding: 0.5em;
}

.info {
    color: green;
    border: 1px dashed green;
    padding: 0.5em;
}

.blog {
    border: 1px solid black;
    margin: 0.5em;
    padding: 0.5em;
    cursor: pointer;
}

.blog .moreInfo {
    padding-left: 2em;
}

.blog .moreInfo p {
    margin: 0;
    margin-top: 0.3em;
}
